<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List some of the Data Science tools
- A few examples evaluating arithmetic expressions in Python

Author:

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. scikit-learn

| Data Science Tools |
|:-:|
| **Data Management Tools** |
| MySQL |
| PostgreSQL|
| MongoDB |
| Apache CouchDB |
| Apache Cassandra |
| Hadoop File System |
| Ceph |
| **Data Integration and Transformation Tools** |
| Apache |
| AirFlow |
| KubeFlow |
| Apache Kafka |
| Apache Nifi |
| Apache SparkSQL |
| NodeRED |
| **Data Visualization Tools** |
| Pixie Dust |
| Hue |
| Kibana |
| Apache Superset |

### Below are a few examples of evaluating arithmetic expressions in Python

Addition

In [22]:
result = 5 + 3
print(result)

8

Subtraction

In [23]:
result = 10 - 4
print(result)

6

Multiplication

In [24]:
result = 6 * 7
print(result)

42

Division

In [25]:
result = 15 / 3
print(result)

5.0

Exponentiation

In [26]:
result = 2 ** 3
print(result)

8

Modulo (Remainder)

In [27]:
result = 17 % 5
print(result)

2

In [28]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
#This will convert 200 minutes to hours by diving by 60
minutes_to_hours = 200/60
print(minutes_to_hours)

3.3333333333333335